/* ========================================================================
   Component: layout
 ========================================================================== */
section{
    background: transparent;
}
.wrapper > .aside {
    background-color: #C4C6C7;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar .navbar-header {
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffC4C6C7', endColorstr='#ffC4C6C7', GradientType=1);
}
@media only screen and (min-width: 768px) {
    .topnavbar .navbar-header {
        background-image: none;
    }
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
    color: #ffffff;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
    color: #B5B5B5;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
    background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    color: #ffffff;
}
.topnavbar .nav-wrapper {
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 5px 5px;
    background-size: 5px 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffC4C6C7', endColorstr='#ffC4C6C7', GradientType=1);
}
@media only screen and (min-width: 768px) {
    .topnavbar {
        background-color: #C4C6C7;
        background-image: -webkit-linear-gradient(left, #C4C6C7 0%, #C4C6C7 100%);
        background-image: -o-linear-gradient(left, #C4C6C7 0%, #C4C6C7 100%);
        background-image: linear-gradient(to right, #C4C6C7 0%, #C4C6C7 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffC4C6C7', endColorstr='#ffC4C6C7', GradientType=1);
    }
    .topnavbar .navbar-nav > .open > a,
    .topnavbar .navbar-nav > .open > a:hover,
    .topnavbar .navbar-nav > .open > a:focus {
        box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
    }
    .topnavbar .navbar-nav > li > a,
    .topnavbar .navbar-nav > .open > a {
        color: #ffffff;
    }
    .topnavbar .navbar-nav > li > a:hover,
    .topnavbar .navbar-nav > .open > a:hover,
    .topnavbar .navbar-nav > li > a:focus,
    .topnavbar .navbar-nav > .open > a:focus {
        color: #B5B5B5;
    }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar .nav-heading {
    color: #919da8;
}

.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
    color: #4A305F;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
    color: inherits;
}
.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav {
    background-color: #383d4e;
    color: #C4C6C7;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
    color: #C4C6C7;
}
.sidebar .nav > li.active {
    border-left-color: #C4C6C7;
}
.sidebar-subnav {
    background-color: #C4C6C7;
}
.sidebar-subnav > .sidebar-subnav-header {
    color: #e1e2e3;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
    color: #e1e2e3;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
    color: #C4C6C7;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
    color: #C4C6C7;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
    border-color: #C4C6C7;
    background-color: #C4C6C7;
}
/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
    border-left: 1px solid #cccccc;
    background-color: #ffffff;
    color: #515253;
}
.dataTable_wrapper {
    overflow: auto;
}

.btn.notext.large{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.btn.notext.small{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

#page-overlay {
    background-color: rgba(50,50,50,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000000;
    display: none;
}

.content-wrapper > div.row{
    display:none;
}
.pdp-default {
    z-index:99999999;
}